.App{
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.forms,.cards{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.car label,.person label{
  display: grid;
  gap:'.5rem';
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 1rem;
}
.car,.person{
  padding: .5rem;
  margin: .5rem;
}
form button{
  width:100%
}